.port-banner{
    position: relative;
    height: 50vh;
    width: 100%; 
    opacity: 0.7; 
    object-fit: scale-down;
  }
  .port-banner::before{
    content: "";
    position: absolute;
    top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(0,0,0,0.25);  
  }

  .projects{
    min-height: 100vh;
    background-color: #f1f1f1;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .projects-header{
      padding-bottom: 3rem;
  }
  .line{
      background-color: #525252;
  }