  body{
    margin: 0;    
}

h1{
    margin: 2em 0;
}

img{
    width: 100%;
}

.container{
    width: 95%;
    margin: 0 auto;
}

.grid{
    display: flex;
}

.grid-col{
    flex: 1;
    padding: 0 .1em;
}

@media(min-width: 768px){
    .container{
        width: 90%;
    }
}